/*UTILIDADES*/
/*BASE*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

/*LAYOUTS PRINCIPALES*/
header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #131313;
  line-height: 4.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
header .navbar-dark .navbar-nav .nav-link {
  color: white;
}
header .nav-item {
  margin: 0 1.5rem;
}
header .navbar-nav {
  margin: 0 auto;
}
header .nav-link {
  position: relative;
  color: #4A3EE5;
  text-decoration: none;
  padding: 5px 0;
}
header .nav-link::after {
  font-family: "Poppins", sans-serif;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: #4A3EE5;
  transition: width 0.3s ease;
  transform: translateX(-50%);
  border-radius: 3rem 3rem 0rem 0rem;
}
header .nav-link:hover::after, header .nav-link.active::after {
  width: 100%;
}
header .navbar-dark .navbar-nav .nav-link:hover {
  font-weight: 600;
  color: #4A3EE5;
}
header .nav-item.btn .nav-link {
  color: white;
  padding: 0;
}
header .nav-item.btn {
  background-color: transparent;
  border: 2px solid #4A3EE5;
  color: white;
  padding: 0.6rem 3rem;
  border-radius: 5rem;
}
header .nav-item.btn:hover, header .nav-item.btn .nav-link:hover {
  background-color: #4A3EE5;
  color: white;
}
header .active {
  font-weight: 600;
  color: #4A3EE5 !important;
}
header .activeDonar {
  background-color: #4A3EE5 !important;
  color: white !important;
  border: solid 1 !important;
  border-color: #4A3EE5 !important;
}

.banner {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
}
.banner img {
  width: 100%;
  height: auto;
}

.bannerGaleria {
  position: relative;
  width: 100%;
  height: 37rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.bannerGaleria img {
  width: 100%;
  height: 37rem;
}
.bannerGaleria .TituloGaleriaFull {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  text-align: start;
  margin: 12rem 0rem 0rem 6rem;
  width: 35rem;
}
.bannerGaleria .TituloGaleriaFull h1 {
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  margin-top: 2rem;
}
.bannerGaleria .TituloGaleriaFull .titulogaleria1 {
  font-size: 3rem;
}
.bannerGaleria .TituloGaleriaFull h1 {
  font-size: 1rem;
}
.bannerGaleria .TituloGaleriaFull .destacado {
  background-color: #4A3EE5;
  padding: 0.1rem 0.5rem;
}

.bannerSobreAstronus {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.bannerSobreAstronus p {
  font-weight: 600;
}
.bannerSobreAstronus img {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
}
.bannerSobreAstronus .planeta {
  position: absolute;
  top: 20%;
  left: 60%;
}
.bannerSobreAstronus .planeta img {
  width: 28rem;
  height: 28rem;
  opacity: 60%;
}
.bannerSobreAstronus .TituloSobreAstronusFull {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  text-align: start;
  margin: 9rem;
  width: 40rem;
}
.bannerSobreAstronus .TituloSobreAstronusFull h1 {
  display: flex;
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.bannerSobreAstronus .TituloSobreAstronusFull .tituloSobreAstronus1 {
  font-size: 3rem;
}
.bannerSobreAstronus .TituloSobreAstronusFull .destacado {
  background-color: #4A3EE5;
  padding: 0.1rem 0.5rem;
}

.bannerContacto {
  position: absolute;
  width: 100%;
}
.bannerContacto img {
  width: 100%;
  height: 37rem;
}
.bannerContacto .TituloFullContacto {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin: 9rem;
  z-index: 1;
}
.bannerContacto .TituloFullContacto h1 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2rem;
}
.bannerContacto .TituloFullContacto p {
  font-weight: 600;
  font-size: 3rem;
}
.bannerContacto .TituloFullContacto .destacado {
  background-color: #4A3EE5;
  padding: 0.1rem 0.5rem;
}

.descargar {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  color: white;
  background-color: #070707;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 7.25rem;
  padding-bottom: 7.25rem;
}
.descargar img {
  display: flex;
  width: 20rem;
  margin-top: 2.25rem;
  filter: drop-shadow(0 0 20px rgba(73, 62, 229, 0.479));
  border: none;
}
.descargar h1 {
  font-size: 2.2rem;
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  position: absolute;
  color: white;
  background-color: #131313;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2rem;
}
footer img {
  display: flex;
  width: 6rem;
  height: 6rem;
}
footer div a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 5px 0;
}
footer .enlaces {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
footer .enlaces h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
footer .descarga-foot a {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
}
footer .descarga-foot h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
footer .RedesSociales {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 0.5rem;
}
footer .RedesSociales img {
  width: 40px;
  height: 40px;
}
footer .RedesSociales h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
  color: white;
}
footer .RedesSociales .iconos {
  display: flex;
  gap: 10px;
}

/*LAYOUTS SITIO*/
/*Index*/
.Sec1 {
  font-family: "Poppins", sans-serif;
  background-color: #070707;
  display: flex;
  flex-direction: column;
  padding: 8rem 19rem 2rem 19rem;
  align-items: start;
}
.Sec1 img {
  width: 22rem;
  padding: 2rem 0rem 0rem 4rem;
  margin-left: 2rem;
}
.Sec1 div {
  position: absolute;
  left: 40rem;
  filter: drop-shadow(0 0 80px rgba(73, 62, 229, 0.479));
}
.Sec1 h1 {
  font-weight: 600;
  line-height: 3.5rem;
  color: white;
  width: 80%;
}
.Sec1 p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  width: 30%;
  margin-top: 2rem;
  text-align: start;
}
.Sec1 .destacado {
  background-color: #4A3EE5;
  padding: 0.1rem 0.5rem;
}

.Sec2 {
  background-color: #070707;
  width: 100%;
  height: 30rem;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.marketplace {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  background-color: #4A3EE5;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.marketplace .datamarket {
  display: flex;
  color: white;
  flex-direction: column;
}
.marketplace .datamarket img {
  display: flex;
}
.marketplace .datamarket h2 {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  color: white;
  padding-top: 2rem;
  padding-left: 2rem;
}
.marketplace .datamarket h5 {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  color: white;
  padding-left: 2rem;
}
.marketplace .Content_comentarios {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: #352BB9;
  border-radius: 1.125rem;
  width: 51.25rem;
  height: 30rem;
  padding-left: 1.25rem;
}
.marketplace .Content_comentarios h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1.2rem;
  color: white;
}
.marketplace .Content_comentarios p {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.marketplace .Content_comentarios .todos_comentarios {
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
}
.marketplace .Content_comentarios .todos_comentarios h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.marketplace .Content_comentarios .todos_comentarios h5 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
.marketplace .Content_comentarios .todos_comentarios p {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.marketplace .Content_comentarios .todos_comentarios .comentario img {
  width: 2.5rem;
  height: 2.5rem;
}

/*Galeria*/
.galeria-container {
  background-color: #070707;
  width: 100%;
  height: auto;
}
.galeria-container .Grid1 {
  padding-top: 0rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 22rem;
  width: 100%;
  align-items: center;
}
.galeria-container .Grid1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria-container .Grid1 .video {
  width: auto;
  height: 22rem;
}
.galeria-container .Grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25rem;
  gap: 0rem;
  width: 100%;
}
.galeria-container .Grid2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria-container .Grid2 .caja {
  width: auto;
  height: 25rem;
}
.galeria-container .Grid2 .cajalast {
  width: auto;
  height: 25rem;
  display: none;
}

/*SobreAstronus*/
.Sec1_SA {
  font-family: "Poppins", sans-serif;
  background-color: #070707;
  width: 100%;
  color: white;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem 0rem 4rem;
}
.Sec1_SA h1 {
  font-weight: 500;
  padding-left: 5rem;
  padding-top: 5rem;
}
.Sec1_SA img {
  opacity: 50%;
  height: 10rem;
}

.DataSeccion {
  background-color: #070707;
  display: flex;
  padding-top: 1.25rem;
  width: 100%;
  height: 35rem;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  gap: 5rem;
}
.DataSeccion img {
  opacity: 50%;
  height: 30rem;
  padding-left: 12rem;
}
.DataSeccion h3 {
  padding-top: 3rem;
}
.DataSeccion p {
  width: 80%;
  font-weight: 400;
  padding-right: 6rem;
}
.DataSeccion article {
  padding-top: 3rem;
}

/*Contacto*/
.Sec1_Contacto {
  background-color: transparent;
  width: 100%;
  height: 35rem;
}
.Sec1_Contacto img {
  position: fixed;
  height: 40rem;
  opacity: 45%;
  margin-left: 25%;
  z-index: 0;
}

.formulario {
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
  background-color: #070707;
  flex-direction: column;
  padding-bottom: 8rem;
  align-items: center;
  gap: 0rem;
  padding-left: 0rem;
  z-index: 1;
}
.formulario h5 {
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.formulario .form {
  height: 2.8rem;
  width: 34rem;
  color: rgb(173, 173, 173);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(33, 37, 41);
  border: solid;
  border-radius: 0.6rem;
  border-color: #4A3EE5;
  padding-left: 0rem;
}
.formulario .form_mensaje {
  height: 12rem;
  width: 34rem;
  color: rgb(173, 173, 173);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(33, 37, 41);
  border: solid;
  border-radius: 0.6rem;
  border-color: #4A3EE5;
  padding-left: 0rem;
  align-items: flex-start;
}
.formulario .form-control {
  height: 100%;
  resize: none;
  padding-top: 1rem;
}
.formulario .iconoform {
  margin-right: 0rem;
  width: 1.4rem;
}
.formulario .enviar {
  height: 3.2rem;
  width: 34rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #4A3EE5;
  border: solid;
  border-radius: 0.6rem;
  border-color: #4A3EE5;
  text-align: center;
}

/*Donar*/
.bannerDonar {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
}
.bannerDonar img {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  justify-content: center;
}
.bannerDonar .TituloDonarFull {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20;
  color: white;
  text-align: center;
  margin: 10rem;
}
.bannerDonar .tituloDonar1 {
  font-weight: 600;
  font-size: 3rem;
}
.bannerDonar .destacado {
  background-color: #4A3EE5;
  padding: 0.1rem 0.5rem;
}
.bannerDonar .satelite {
  position: absolute;
  top: 10%;
  left: 50%;
}
.bannerDonar .satelite img {
  width: 32rem;
  height: auto;
  opacity: 60%;
}

.Sec1_Donar {
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: #070707;
  flex-direction: row;
  padding-top: 1.5rem;
  padding-left: 4rem;
  padding-bottom: 1rem;
  justify-content: flex-start;
  gap: 2rem;
}
.Sec1_Donar img {
  width: 2rem;
  margin-bottom: 0.6rem;
}
.Sec1_Donar h1 {
  color: white;
}

.marketplaceDonar {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  height: 32rem;
  background-color: #4A3EE5;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
}
.marketplaceDonar .datamarketDonar {
  font-weight: 500;
  font-size: 1rem;
  color: white;
  flex-direction: column;
}
.marketplaceDonar .datamarketDonar img {
  width: 48rem;
  height: auto;
}
.marketplaceDonar .datamarketDonar h2 {
  padding-top: 2rem;
  padding-left: 1rem;
}
.marketplaceDonar .datamarketDonar h5 {
  padding-left: 1rem;
}
.marketplaceDonar .Content_comentariosDonar {
  font-weight: 500;
  font-size: 1rem;
  color: white;
  flex-direction: column;
  padding-left: 3.75rem;
  background-color: #352BB9;
  border-radius: 0rem;
  width: 40rem;
  height: 32rem;
}
.marketplaceDonar .Content_comentariosDonar img {
  padding-top: 4rem;
  width: 3rem;
}
.marketplaceDonar .Content_comentariosDonar h2 {
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 1.2rem;
}
.marketplaceDonar .Content_comentariosDonar .todos_comentariosDonar {
  display: flex;
  flex-direction: row;
  padding-top: 1.6rem;
  gap: 1rem;
}
.marketplaceDonar .Content_comentariosDonar .todos_comentariosDonar h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.marketplaceDonar .Content_comentariosDonar .todos_comentariosDonar p {
  font-size: 1rem;
  font-weight: 400;
}
.marketplaceDonar .Content_comentariosDonar .comentarioDonar img {
  width: 2.5rem;
  height: 2.5rem;
}
.marketplaceDonar .Content_comentariosDonar .DonarBTN {
  background-color: #4A3EE5;
  border: solid;
  border-radius: 0.6rem;
  border-color: #4A3EE5;
  width: 14rem;
  height: 4rem;
  margin-top: 1.2rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.2rem;
}
.marketplaceDonar .Content_comentariosDonar .DonarBTN a {
  color: white;
  text-decoration: none;
  list-style: none;
}

/*COMPONENTES*/
.cardSec2 {
  font-family: "Poppins", sans-serif;
  background-color: #171717;
  width: 22rem;
  height: 23rem;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 10px rgba(73, 62, 229, 0.479);
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  margin: 4rem;
  margin-top: 0rem;
}
.cardSec2 img {
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  opacity: 80%;
}
.cardSec2 h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #4A3EE5;
  margin-top: 2rem;
}
.cardSec2 p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  margin-top: 1rem;
  width: 80%;
}

/*MEDIDAS*/
@media (max-width: 1024px) {
  .nav-item {
    font-size: 0.8rem;
  }
  .banner {
    height: 26rem;
  }
  .Sec1 {
    padding: 6rem 2rem 2rem 8rem;
  }
  .Sec1 img {
    width: 18rem;
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .Sec1 p {
    font-weight: 400;
    width: 40%;
  }
  .Sec2 {
    padding-top: 35rem;
    padding-bottom: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cardSec2 {
    width: 20rem;
    height: 25rem;
  }
  .Content_comentarios {
    margin-bottom: 2rem;
  }
  /*SobreAstronus*/
  .bannerSobreAstronus {
    height: 30rem;
  }
  footer {
    position: absolute;
    background-color: #131313;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
  }
  footer img {
    width: 6rem;
    height: 6rem;
    order: 1;
  }
  footer div a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
  }
  footer .enlaces {
    flex-direction: column;
    gap: 3px;
    order: 3;
  }
  footer .descarga-foot {
    order: 4;
    width: 30%;
  }
  footer .descarga-foot a {
    flex-direction: column;
    margin-top: 0.2rem;
  }
  footer .RedesSociales {
    flex-direction: column;
    align-items: flex-start;
    order: 2;
  }
  footer .RedesSociales h3 {
    margin-bottom: 10px;
    display: none;
  }
  footer .RedesSociales img {
    width: 40px;
    height: 40px;
  }
  footer .iconos {
    gap: 10px;
    flex-direction: column;
    justify-items: start;
  }
}
@media (max-width: 768px) {
  .banner {
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
