@media  (max-width:1024px){

    .nav-item{
        @extend .nav-item;
        font-size: 0.8rem;
    }

    .banner{
        @extend .banner;
        height: auto;

        img{
            width: 100%;
            height: auto;
        }
    }

    .Sec1{
        @extend .Sec1;
        padding: 0;
        width: 100%;
        flex-wrap: nowrap;
        height: auto;
        
        .parte1{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 4rem;

            h1{
                width: 50%;
            }

            p{
                font-weight: 400;
                width: 50%;
            }
        }

        .parte2{
            img{
                display: none;
                width: 18rem;
                margin-left: 0rem;
                padding-left: 0rem;
            }
        }
    }

    .Sec2{
        @extend .Sec2;
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .cardSec2{
        @extend .cardSec2;
        width: 20rem;
        height: 20rem;
    }

    .Content_comentarios{
        @extend .Content_comentarios;
        margin-bottom: 2rem;
    }

    .descargar{
        @extend .descargar;
        width: 100%;


        h1{

            font-size: 1.8rem;
        }
    }

    /*SobreAstronus*/
    .bannerSobreAstronus{
        @extend .bannerSobreAstronus;
        height: auto;
        
        .planeta{
            display: none;
        }

        .TituloSobreAstronusFull{
            bottom: 0;
        }
    }

    /*Donar*/
    
    .bannerDonar{
        .TituloDonarFull {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 20;
            color: white;
            text-align: center;
            margin: 5rem;
        }

        .satelite{
            img{
                width: 28rem;
            }
        }
    }

    .marketplaceDonar{
        display: flex;
        flex-direction: column;
        padding-left: 0rem;
        height: auto;
        width: 100%;

        .datamarketDonar{
            img{
                width: 55rem;
                height: auto;
            }
        }

        .Content_comentariosDonar{
            height: auto;
            width: 100%;
            padding-bottom: 3rem;
            justify-content: center;

            .DonarBTN{
                display: flex;
                justify-content: center;
                margin-top: 3rem;
                margin-left: 20rem;
            }
        }
    }
    

    
    footer{
        position: absolute;
        background-color: #131313;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: white;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding-bottom: 2rem;

        img{
            width: 6rem;
            height: 6rem;
            order: 1;
        }

        div a{
            color: white;
            text-decoration: none;
            padding: 5px 0;
        }

        .enlaces{
            flex-direction: column;
            gap: 3px;
            order: 3;
        }

        .descarga-foot{
            order: 4;
            width: 30%;

            a{
                flex-direction: column;
                margin-top: 0.2rem;
            }
        }

        .RedesSociales{
            flex-direction: column;
            align-items: flex-start;
            order: 2;

            h3{
                margin-bottom: 10px;
                display: none;
            }

            img{
                width: 40px;
                height: 40px;
            }
        }

        .iconos{
            gap: 10px;
            flex-direction: column;
            justify-items: start;
        }
    }
}