.galeria-container{
    background-color: #070707;
    width: 100%;
    height: auto;

    .Grid1{
        padding-top: 0rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 22rem;
        width: 100%;
        align-items: center;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video{
            width: auto;
            height: 22rem;
        }
    }

    .Grid2{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25rem;
        gap: 0rem;
        width: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .caja{
            width: auto;
            height: 25rem;
        }

        .cajalast{
            width: auto;
            height: 25rem;
            display: none;
        }
    }
}