@use "../utilities/map";
@use "../base/font";


.descargar{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    color: white;
    background-color: map-get(map.$color, bksecundario);
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;

    img{
        display: flex;
        width: 20rem;
        margin-top: 2.25rem;
        filter: drop-shadow(0 0 20px rgba(73, 62, 229, 0.479));
        border: none;
    }

    h1{
        font-size: 2rem;
    }
    
}