@use "../utilities/map";
@use "../base/font";

footer{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    position: absolute;
    color: white;
    background-color: #131313;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2rem;

    img{
        display: flex;
        width: 6rem;
        height: 6rem;
    }

    div a{
        font-weight: 500;
        color: white;
        text-decoration: none;
        padding: 5px 0;
    }

    .enlaces{
        display: flex;
        flex-direction: column;
        gap: 3px;
    
        h3{
            font-size: 1.5rem;
            font-weight: 500;
            color: white;
        }
    }

    .descarga-foot {
        a{
            display: flex;
            flex-direction: column;
            margin-top: 0.2rem;
        }
        h3{
            font-size: 1.5rem;
            font-weight: 500;
            color: white;
        }
    }

    .RedesSociales{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 0.5rem;

        img{
            width: 40px;
            height: 40px;
        }

        h3{
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 10px;
            color: white;
        }

        .iconos{
            display: flex;
            gap: 10px;
        }
    }

}