@use "../utilities/map";
@use "../base/font";
@use "../utilities/mixints" as *;


.Sec1{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: map-get(map.$color, bksecundario );
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8rem 0rem 4rem 0rem;

    img{
        width: 22rem;
    }

    .parte1{
        width: auto;
    }

    .parte2{
        filter: drop-shadow(0 0 80px rgba(73, 62, 229, 0.479));
    }

    h1{
        @include tituloEstilo;
    }

    p{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
        width: 40%;
        margin-top: 2rem;
    }

    .destacado{
        background-color: map-get(map.$color, 'primario' );
        padding: 0.1rem 0.5rem;
    }
}