@use "../utilities/map";
@use "../base/font";

.Sec1{
    font-family: 'Poppins', sans-serif;
    background-color: map-get(map.$color, bksecundario );
    display: flex;
    flex-direction: column;
    padding: 8rem 19rem 2rem 19rem;
    align-items: start;

    img{
        width: 22rem;
        padding: 2rem 0rem 0rem 4rem;
        margin-left: 2rem;
    }

    div{
        position: absolute;
        left: 40rem;
        filter: drop-shadow(0 0 80px rgba(73, 62, 229, 0.479));
    }

    h1{
        font-weight: 600;
        line-height: 3.5rem;
        color: white;
        width: 80%;
    }

    p{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
        width: 30%;
        margin-top: 2rem;
        text-align: start;
    }

    .destacado{
        background-color: map-get(map.$color, 'primario' );
        padding: 0.1rem 0.5rem;
    }
}