@use "../utilities/map";
@use "../base/font";

.Sec1_SA{
    display: flex;
    font-family: "Poppins", sans-serif;
    background-color: map-get(map.$color, bksecundario);
    width: 100%;
    color: white;
    position: relative;
    height: auto;
    justify-content: space-between;
    padding: 0rem 4rem 0rem 4rem;


    h1{
        font-weight: 500;
        padding-left: 5rem;
        padding-top: 5rem;
    }

    img{
        opacity: 50%;
        height: 10rem;
    }
}